.tabBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid var(--line-through);
    background: var(--background-color);
    z-index: 99;
}

.tabBar__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 50px;
    height: inherit;
}

.tabBar__text {
    letter-spacing: 1px;
}

.tabBar__link {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    border-top: 1px solid transparent;
    transition: all .1s ease;
}

.tabBar__link:hover,
.tabBar__link:active {
    border-color: var(--black-color);
}

.tabBar__nav--full {
    grid-template-columns: 100%;
}

.tabBar__nav--full .header__link {
    justify-content: center;
    text-align: center;
}

@media screen and (min-width:768px){
    .tabBar {
        display: none;
    }
}