:root {
	/* All Colors */
	--background-color: #fff;
	--color-one: #2EC4B6;
	--color-two: #D72638;
	--text-color-all: rgba(0, 0, 0, 0.6);
	/* Font Sizes */
	--font-size-all: 1.6rem;
	--font-size-big: 2.4rem;
	/* Font Families */
	--font-family-all: 'Zen Maru Gothic', Helvetica;
	--font-family-abrupt: 'Fira Code', arial;
	/* Other Varieties */
	--line-through: rgba(0,0,0,.1);
	--black-color: #000;
	--white-color: #fff;
}

@media screen and (max-width:768px){
	:root {
		--font-size-all: 1.4rem;
	}
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	background: var(--background-color);
	color: var(--text-color-all);
	font-size: var(--font-size-all);
	font-family: var(--font-family-all);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

input {
	outline: none;
	border: none;
	color: var(--text-color-all);
	font-size: var(--font-size-all);
	font-family: var(--font-family-all);
}

a {
	color: var(--text-color-all);
	text-decoration: none;
}

.container {
	max-width: 90%;
	width: 1200px;
	margin: auto;
}

.highlight-one {
	color: var(--color-one);
	font-weight: bold;
	margin: 0 5px;
	letter-spacing: 2px;
}

.highlight-two {
	color: var(--color-two);
	font-weight: bold;
	margin: 0 5px;
	letter-spacing: 2px;
}

.cursor {
	cursor: pointer;
}

/* Others */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.grid .movie {
    width: auto;
}

@media screen and (max-width:468px){

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid .movie {
        min-width: auto;
    }
}